body {
    background-color: skyblue;
}

a {
    color: white;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;  
}

h4 {
    text-align: center;
}

p {
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

input {
    margin: 5px;
}